{% extends "base.html" %}

{% load account socialaccount %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <div class="wrap-occupy">
        <div>

            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>


                <div class="socialaccount_ballot">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>

                    <div class="login-or">{% trans 'or' %}</div>

                </div>

                {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            {% endif %}

            <form class="wrap wrap-card login" method="POST" action="{% url 'account_login' %}">
                <h1 class="wrap-card-hd">{% trans "Tajm inloggning" %}</h1>
                {% csrf_token %}
                <div class="card line line-justified row">
                    <p>
                        {{ form.login.label }}
                        {{ form.login|add_class:'fld' }}
                    </p>

                    <p>
                        {{ form.password.label }}
                        {{ form.password|add_class:'fld' }}
                    </p>
                </div>
                <div class="tar">
                    <a class="a"
                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    &nbsp;
                    <button class="btn" type="submit">{% trans "Sign In" %}</button>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
