Django==1.10.2
django-cors-headers==1.1.0
django-oauth-toolkit==0.10.0
djangorestframework==3.5.3
djangorestframework-jsonapi==2.1.1
django-allauth==0.24.1
djangorestframework-filters==0.9.0
django-rest-swagger==0.3.6
django-htmlmin==0.9.1
dj-database-url==0.4.1
django-widget-tweaks==1.4.1
