/*
   ╔═════════════════════════════════════════════════════════════════╗
   ║ Base                                                            ║
   ╚═════════════════════════════════════════════════════════════════╝
*/

html {
    min-height: 100%;
    background: #06b1c4;
    color: #fff;
    font: normal small/1.25 Helvetica, arial, sans-serif;
}

fieldset {
    margin: 1em 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: normal;
}

[data-tt] {
    cursor: help;
}

body, ul, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

em,
i {
    font-style: normal;
}

button,
input[type=submit] {
    user-select: text;
    margin: 0;
    font: inherit;
    line-height: 1;
    cursor: pointer;
}

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea,
input[type=text],
input[type=submit] {
    -moz-appearance: none;
    -webkit-appearance: none;
}

input {
    border: 0;
    background: #fff;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: inherit;
}

input[type=checkbox],
input[type=radio] {
    padding: .33em;
}

label {
    display: block;
    cursor: pointer;
    padding-bottom: .2em;
}

select {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: .5em;
    overflow: auto;
}

th {
    text-align: left;
    font-weight: normal;
}

td, th {
    padding: .5em;
}

table b {
    font-weight: normal;
    background: #06c2ac;
    border-radius: 6px;
    color:#fff;
    padding: 3px;
}

table td:last-child {
    padding-left: 0;
}

table td:last-child {
    text-align: right;
    padding-right: 0;
}

thead th {
    border-bottom: .2em solid #f1f1f1;
}

td[rowspan] {
    vertical-align: top;
}

.debug {
    background-image: repeating-linear-gradient(180deg, #eee, #fff 1px, #fff 2.4em);
}

dl {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: flex-start;
}

dd {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

canvas {
    width: 100% !important;
    height: auto !important;
}


/*
   ╔═════════════════════════════════════════════════════════════════╗
   ║ Template                                                                                                       ║
   ╚═════════════════════════════════════════════════════════════════╝
*/


/* Text alignment
   =============================================================== */

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}


/* Float Helpers
   =============================================================== */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}


/* Grid
   ================================================================ */

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.line > * {
    list-style: none;
}

.line-rev {
    flex-direction: row-reverse;
}

.line-justified > * {
    flex: 1;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.s1of2 { width: calc(50% - 10px); }
.s1of3 { width: calc(33% - 10px); }
.s2of3 { width: calc(66% - 10px); }
.s1of4 { width: calc(25% - 10px); }
.s3of4 { width: calc(75% - 10px); }


/* Columns
   =============================================================== */

.wrap {
    padding: 10px;
    min-width: 16em;
}

.wrap-dayreporter {
    color: #111;
    background: #fff;
    margin: 0 10px;
}

.wrap-top {
    background: #06b1c4;
    color: #fff;
}

.wrap-occupy {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrap-occupy > * {
    justify-items: center;
}

@media all and (max-width: 900px) {
    .wrap-top {
        display: block;
    }
}

.wrap-nav {
    background: #005f6a;
    color: #fff;
}

.wrap-bordered {
    border: 2px solid #eee;
    border-radius: 6px;
    padding: 10px;
    margin: 10px 0;
}


.line-bot {
    padding-top: 1em;
    padding-bottom: 0;
    align-items: flex-end;
}

.nav > * {
    flex: 1;
}

.login-form {
    margin: 20px 0;
}

.login-form > * {
    padding: 10px;
}


/* Commons
   =============================================================== */

.a {
    display: inline;
    border: 0;
    text-decoration: underline;
    padding: 0;
    background: transparent;
    color: #06b1c4;
}

button.a {
    margin: 0;
}


/* Baseline
   =============================================================== */

.btn,
.fld {
    box-sizing: border-box;
    padding: .45em 0;
    height: 2.4em;
    vertical-align: bottom;
    line-height: normal;
}

a.btn {
    display: inline-block;
    line-height: 1.55; /* ლ_ಠ益ಠ_ლ */
}

@media all and (max-width: 433px) {
    a.btn {
        line-height: 1.4; /* ლ_ಠ益ಠ_ლ */
    }
}


/* Card
   =============================================================== */

.card {
    border: 3px solid #eee;
    padding: 15px;
    background: #fff;
    color: #111;
    margin: 2em 0;
}

.card:first-child {
    margin-top: 0;
}


/* Headings
   =============================================================== */

.h2 {
    font-size: 1.66em;
    margin: 1em 0 .5em;
}

.h1 {
    font-size: 2.33em;
    margin: 1em 0 .5em;
}

.h2[data-tt] {
    margin: 0 .5em;
}


/* Transitions
   =============================================================== */

.smooth {
    transition: transform .25s linear;
}


/* Fields
   =============================================================== */

.fld {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    padding-left: .33em;
    padding-right: .33em;
    border-bottom: .2em solid #ccc;
    border-radius: 0;
    width: 100%;
}

.fld:focus {
    border-bottom-color: #06c2ac;
}

.fld-duration {
    width: 5em;
}


/* Buttons
   =============================================================== */

.btn {
    background: #06c2ac;
    background: linear-gradient(180deg,
    #07d6be 20%,
    #06c2ac);
    color: #fff;
    padding-left: .9em;
    padding-right: .9em;
    border-radius: 5px;
    border: 1px solid #049180;
}

.btn:hover,
.btn:focus {
    background: #07d6be;
}

.btn:active {
    background: #049180;
    background: linear-gradient(180deg,
        #049180 30%,
        #05a996);
    transform: none;
    box-shadow: none;
}

.btn-secondary {
    background: #fff;
    color: #06c2ac;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: #f4f4f4;
}


.btn-ingroup {
    border-radius: 0;
}

.btn-first {
    border-radius: 5px 0 0 5px;
}

.btn-last {
    border-radius: 0 5px 5px 0;
}


/*
   ╔═════════════════════════════════════════════════════════════════╗
   ║ Modules                                                                                                        ║
   ╚═════════════════════════════════════════════════════════════════╝
*/

/* Week nav
   =============================================================== */

.weeknav {
    width: 30%;
    padding-bottom: 10px;
    justify-content: flex-end;
}

@media all and (max-width: 900px) {
    .weeknav {
        justify-content: space-between;
        width: auto;
    }
}

.weeknav > .h {
    padding: 0 .66em;
}


/* day nav
   =============================================================== */

.daynav {
    width: 66%;
    line-height: 2.4;
}

@media all and (max-width: 900px) {
    .daynav {
        width: auto;
    }
}

.daynav > * {
    flex: 1;
}


@media all and (max-width: 37em) {
    .daynav em {
        display: none;
    }
}

.daynav strong {
    border-radius: 5px 5px 0 0;
    font-weight: normal;
    background: #fff;
    color: #111;
    display: block;
}


/* day nav
   =============================================================== */

@media all and (max-width: 900px) {
    .line-progress {
        display: block;
    }
}

.line-progress > * {
    flex: 2;
    margin-right: 2em;
}

@media all and (max-width: 900px) {
    .line-progress > * {
        margin-bottom: 2em;
        margin-right: 0;
    }
}

.line-progress > .line {
    max-width: 23em;
    min-width: 23em;
    flex: auto;
}

.line-progress > .btn {
    flex: 1;
    margin-right: 0;
}

/* Footer
   =============================================================== */

.footer-links li {
    margin-left: 1em;
}


/* Tablesort
   =============================================================== */

.dsc,
.asc {
    background: #eee;
}

.dsc .a:after {
    content: " \02C4";
    font-size: 120%;
}

.asc .a:after {
    content: " \02C5";
    font-size: 120%;
}

/* Table helpers
   =============================================================== */

.tbl-narrow {
    width: 4em;
}

.col-sorted {
    background: #eee;
}

.col-duration {
    font-size: 1.33em;
    background: #222;
    color: #fff;
    text-align: center;
    padding: 3px;
}

.col-absence {
    color: #00ee00;
    background-image: repeating-linear-gradient(45deg, #090, #010 3px, #010 10px);
}

.col-nonbillable {
    color: #e00;
    background-image: repeating-linear-gradient(90deg, #900, #100 3px, #100 10px);
}


/* Rich text
   =============================================================== */

.rich {
    line-height: 1.5;
    padding: 1px;
}

.rich > p:first-child {
    font-size: 1.25em;
}


.rich > p,
.rich > ul {
    margin: 1.33em 0;
}

.rich li {
    margin-left: 1.66em;
}

.rich a {
    color: #06b1c4;
    text-decoration: underline;
}


/* Misc
   =============================================================== */

.gravatar {
    vertical-align: middle;
    margin: 0 10px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.relpos {
    position: relative;
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


/* Awesomplete:
   https://leaverou.github.io/awesomplete/
   =============================================================== */

.awesomplete > ul {
	position: absolute;
	left: 0;
	z-index: 1;
	min-width: 100%;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

@supports (transform: scale(0)) {
	div.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}

	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

	/* Pointer */
	div.awesomplete > ul:before {
		content: "";
		position: absolute;
		top: -.43em;
		left: 1em;
		width: 0; height: 0;
		padding: .4em;
		background: white;
		border: inherit;
		border-right: 0;
		border-bottom: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	div.awesomplete > ul > li {
		position: relative;
		padding: .2em .5em;
		cursor: pointer;
	}

	div.awesomplete > ul > li:hover {
		background: hsl(200, 40%, 80%);
		color: black;
	}

	div.awesomplete > ul > li[aria-selected="true"] {
		background: hsl(205, 40%, 40%);
		color: white;
	}

		div.awesomplete mark {
			background: hsl(65, 100%, 50%);
		}

		div.awesomplete li:hover mark {
			background: hsl(68, 100%, 41%);
		}

		div.awesomplete li[aria-selected="true"] mark {
			background: hsl(86, 100%, 21%);
			color: inherit;
		}