{% load i18n %}

<div class="line wrap-withbuttons wrap-hhmm{% if absence_form.duration.errors %} wrap-errors{% endif %}">
    {% if absence_form.duration.errors %}
        <label for="aid_duration" class="mb">
        <strong>{% trans "Hoppsan!" %}</strong><br>{% trans "Ange en tid i absence_formatet tt:mm, eller använd något" %} <a class="a" href="http://help.tajm.me/guides/report-time.html#duration-tips">{% trans "snabbkommando" %}.</a>
        </label>
    {% endif %}
    <div class="pull-left pr">
        <button type="button" data-plus-1-hour class="bl btn btn-ingroup btn-first">+1h</button>
        <button type="button" data-minus-1-hour class="bl btn btn-ingroup btn-last">-1h</button>
    </div>
    <div class="pull-right pl">
        <button type="button" data-minus-15-min class="bl btn btn-ingroup btn-first">-15m</button>
        <button type="button" data-plus-15-min class="bl btn btn-ingroup btn-last">+15m</button>
    </div>
    <div class="fld-withbuttons fld-hhmm">
        <input class="bl fld cntr"{% if absence_form.duration.value != None %} value="{{ absence_form.duration.value }}"{% endif %} placeholder="00:00" id="aid_duration" name="duration">
    </div>
</div>

<div class="wrap-fld{% if absence_form.category.errors %} wrap-errors{% endif %}">
    {% if absence_form.category.errors %}
        {{ absence_form.category.errors }}
    {% endif %}
    {% if not absence_form.category.errors %}
    <label for="id_category">{% trans "Orsak" %}</label>
    {% endif %}
    {{ absence_form.category }}
</div>
