{% load i18n %}

<div class="line wrap-withbuttons wrap-hhmm{% if progress_form.duration.errors %} wrap-errors{% endif %}">
    {% if progress_form.duration.errors %}
        <label for="id_duration" class="mb">
        <strong>{% trans "Hoppsan!" %}</strong><br>{% trans "Ange en tid i progress_formatet tt:mm, eller använd något" %} <a class="a" href="http://help.tajm.me/guides/report-time.html#duration-tips">{% trans "snabbkommando" %}.</a>
        </label>
    {% endif %}
    <div class="pull-left pr">
        <button type="button" data-plus-1-hour id="plus-1-hour" class="bl btn btn-ingroup btn-first">+1h</button>
        <button type="button" data-minus-1-hour id="minus-1-hour" class="bl btn btn-ingroup btn-last">-1h</button>
    </div>
    <div class="pull-right pl">
        <button type="button" data-minus-15-min id="minus-15-min" class="bl btn btn-ingroup btn-first">-15m</button>
        <button type="button" data-plus-15-min id="plus-15-min" class="bl btn btn-ingroup btn-last">+15m</button>
    </div>
    <div class="fld-withbuttons fld-hhmm">
        <input class="bl fld cntr"{% if progress_form.duration.value != None %} value="{{ progress_form.duration.value }}"{% endif %} placeholder="00:00" id="id_duration" name="duration">
    </div>
</div>
<div class="wrap-fld{% if progress_form.project.errors %} wrap-errors{% endif %}">
    {% if progress_form.project.errors %}
        <div class="mb">
        <strong>{% trans "Hoppsan!" %}</strong><br>{% trans "Ett projekt behövs. Om du inte får några bra förslag, skapa ett nytt: det går alltid att döpa om eller slå ihop projektet med något annat projekt vid behov." %}
        </div>
    {% endif %}
    {% if not progress_form.project.errors %}
        <label for="id_project">
            {% trans "Kund, projekt eller beställare" %}
        </label>
    {% endif %}
    <input class="bl fld"{% if progress_form.project.value != None %} value="{{ progress_form.project.value }}"{% endif %} placeholder="{% trans "Nya projekt skapas automatiskt" %}" id="id_project" name="project">
</div>
<div class="wrap-fld{% if progress_form.note.errors %} wrap-errors{% endif %}">
    {% if progress_form.note.errors %}
        <div class="mb">
            <strong>{% trans "Hoppsan!" %}</strong><br>
            {% trans "Minnet är gott men kort: ange här något som summerar arbetet. Det kan vara en referens (telefonsamtal eller mail) eller en ticket." %}
        </div>
    {% endif %}
    {% if not progress_form.note.errors %}
    <label for="id_note">{% trans "Anteckning" %}</label>
    {% endif %}
    <input class="bl fld"{% if progress_form.note.value != None %} value="{{ progress_form.note.value }}"{% endif %} placeholder="{% trans "Vad gjorde du och för vem?" %}" id="id_note" name="note">
</div>