{% extends "oldbase.html" %}
{% load i18n %}

{% block sitetitle %}{{ date|date:"l"|capfirst }} {% trans "vecka" %} {{ week }}
{% if is_index == True %}{% if is_today == True%}({% trans "idag" %}){% else %}({% trans "nuv vecka" %}){% endif %}{% endif %}{% endblock %}

{% block customscripts %}
<script>
    "use strict";
    tajmme.fire("progressform:init");
</script>
<script src="{% url "projects.js" %}"></script>
{% endblock %}

{% block content %}
{% load reporter_extras %}
    <div class="wrap-top">
        <div class="wrap">
            <div class="line">
                <div class="pull-left">
                    <a href="{% url "anyday" year=prev_week.0 week_label=prev_week.1 day=5 %}" class="bl bl-hd">&larr; {{ prev_week.1 }}</a>
                </div>
                <div class="pull-right">
                    <a href="{% url "anyday" year=next_week.0 week_label=next_week.1 day=1 %}" class="bl bl-hd">{{ next_week.1 }} &rarr;</a>
                </div>
                <h1 class="bl h" title="{{ spoken_week }}">{% trans "Vecka" %} {{ week }}</h1>
            </div>
        </div>
        <div class="wrap">
            <ul class="line daynav nav">
                {% for num, date in weekdays %}
                    {% if num == day or day == 0 and num == 7 %}
                        <li class="unit size1of7"><strong class="daynav-item daynav-current{% if forloop.first %} daynav-first{% endif %}{% if forloop.last %} daynav-last{% endif %}">{{ date|date:"D"|title }} <em>{{ date|date:"j" }}</em></strong></li>
                    {% else %}
                        <li class="unit size1of7"><a href="{% url "anyday" year=year week_label=week day=num %}" class="daynav-item{% if forloop.first %} daynav-first{% endif %}{% if forloop.last %} daynav-last{% endif %}">{{ date|date:"D"|title }} <em>{{ date|date:"j" }}</em></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <form action="{{ request.path }}" method="post" class="wrap wrap-padded">
        {% csrf_token %}
        {{ progress_form.non_field_errors }}
        {{ progress_form.done_at.as_hidden }}
        {% include "_progressform.html" %}
        <input type="submit" value="{% trans "Rapportera" %}" class="bl btn">
    </form>
    <div class="wrap-history">
        <div class="wrap wrap-padded">
            {% if project_count == 0 %}
                <h2>{% trans "Ingen tid rapporterad, njut av ledigheten!" %}<br> <small>{% trans "eller se till att rapportera snart." %}</small></h2>
            {% else %}
                <h2>{{ minute_count }} {% trans "i" %} {{ project_count }} {% trans "projekt" %}</h2>

                {% for progress in progresses %}
                    <article class="oh progress">
                        <span class="pull-right">
                            <a class="bl btn btn-small btn-right" href="{% url "delete_progress" year=year week_label=week day=day progress_id=progress.id %}">x</a>
                        </span>
                        <div class="pull-left progress--duration progress-noavatar">
                            +{{ progress.duration|hhmm }}
                        </div>
                        <div class="oh">
                            <p><a href="{% url "edit_progress" year=year week_label=week day=day progress_id=progress.id %}">{{ progress.note }}</a></p>
                            <div class="progress--ft">
                                <span class="pull-left" href="#">{{ progress.project.name }}</span>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        </div>

        <div class="wrap wrap-padded">
            <h2>{% trans "Frånvaro" %}</h2>

            {% if absences %}
                {% for progress in absences %}
                    <article class="oh progress">
                        <span class="pull-right">
                            <a class="bl btn btn-small btn-right" href="{% url "delete_absence" absence_id=progress.id %}">x</a>
                        </span>
                        <div class="pull-left progress--duration progress-noavatar">
                            -{{ progress.duration|hhmm }}
                        </div>
                        <div class="oh">
                            <p><a href="{% url "edit_absence" absence_id=progress.id %}">{{ progress.category.name }}</a></p>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}

        </div>

        <form action="{% url "add_absence" %}" method="post" class="wrap wrap-padded">

            {% include '_absenceform.html' %}

            {% csrf_token %}
            {{ absence_form.non_field_errors }}
            {{ progress_form.done_at.as_hidden }}
            {{ absence_form.user.as_hidden }}

            <input type="submit" value="{% trans "Rapportera" %}" class="bl btn">
        </form>
    </div>

{% endblock %}
