{% load i18n %}
{% load tajm %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            {% if mixed %}
                <th class="col-50">{% trans 'DB' %}</th>
            {% endif %}
            <th class="col-50">{% trans 'Projekt' %}</th>
            <th class="col-25">{% trans 'Tid (t)' %}</th>
            <th class="col-25">{% trans 'Rader' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for p in projects %}
            <tr>
                {% if mixed %}
                    <td class="text-right">{% if not p.billable %}
                        <span class="label label-danger">it</span>
                    {% endif %}</td>
                {% endif %}
                <td>{{ p.name }}</td>
                <td data-sortable="{{ p.sum }}">
                    {{ p.sum|hhmm|hours }}<br>
                    {% if max_sum %}
                        {% if p.billable == False %}
                            {% include 'charts/bar.html' with bar_max=max_sum bar_value=p.sum color='nonbillable' only %}
                        {% else %}
                            {% include 'charts/bar.html' with bar_max=max_sum bar_value=p.sum color='progress' only %}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ p.count }}<br>
                    {% if max_count %}
                        {% if p.billable == False %}
                            {% include 'charts/bar.html' with bar_max=max_count bar_value=p.count color='nonbillable' only %}
                        {% else %}
                            {% include 'charts/bar.html' with bar_max=max_count bar_value=p.count color='progress' only %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>