{% load i18n %}
{% load tajm %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{% trans "Typ" %}</th>
            <th>{% trans "Tid" %}</th>
            <th>{% trans 'Person' %}</th>
            <th>{% trans "Projekt" %}</th>
            <th>{% trans "Anteckning" %}</th>
            <th>{% trans "Datum" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr class="warning">
                <td class="text-right">
                    <span class="label label-info">fv</span>
                </td>
                <td>-{{ absence.duration|hhmm }}</td>
                <td><a href="{% url 'profile' user_id=absence.user.pk %}">{{ absence.user.username }}</a></td>
                <td>{{ absence.category.name }}</td>
                <td>{{ absence.note }}</td>
                <td>{{ absence.done_at|date:'d/m' }}</td>
            </tr>
        {% endfor %}
        {% for progress in progresses %}
            <tr>
                <td class="text-right">{% if not progress.project.billable %}
                    <span class="label label-danger">it</span>
                {% endif %}</td>
                <td>+{{ progress.duration|hhmm }}</td>
                <td><a href="{% url 'profile' user_id=progress.user.pk %}">
                    {{ progress.user.email|gravatar_tag|safe }}
                    {{ progress.user.username }}
                </a></td>
                <td>{{ progress.project.name }}</td>
                <td>
                    {{ progress.note }}
                </td>
                <td>{{ progress.done_at|date:'d/m' }}</td>
            </tr>
        {% endfor %}</tbody>
    </table>
</div>