{% load i18n %}
{% load static %}
{% load tajm %}

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">{{ profile.first_name }} {{ profile.last_name }}</div>
        <div class="panel-body text-center">
            <img class="img-responsive" src="https://secure.gravatar.com/avatar/{{ profile.email|gravatar }}.jpg?r=g&s=250&d=mm"
                 alt="{{ profile.username }}" class="pull-left">
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="#">{% trans 'Översikt' %}</a></li>
            <li class="list-group-item"><a
                    href="{% url 'user_activity' user_id=profile.pk %}">{% trans 'Historik' %}</a></li>
            {% if profile.username == request.user.username %}
                <li class="list-group-item">
                    <a href="{% url 'account_logout' %}">Logga ut</a>
                </li>
            {% endif %}

            <!-- <li><a href="#">{% trans 'Projekt' %}</a></li>
                        <li><a href="#">{% trans 'Grupper' %}</a></li> -->
            <!-- <li><a href="#">{% trans 'Frånvaro' %}</a></li>
                        <li><a href="#">{% trans 'Debiteringsgrad' %}</a></li> -->
        </ul>
    </div>
</div>