{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tajm %}

{% block sitetitle %}{% trans 'Välkommen' %}{% endblock %}

{% block customscripts %}{% endblock %}

{% block content %}

    <div class="container">
    <div class="row">
    <div class="col-md-8">
        <h1>{{ this_week }}
            <small>{% trans 'Vecka' %} {{ week }}</small>
        </h1>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">

            <div class="panel-heading">{% trans 'Deadlines' %}</div>

            <div class="table-responsive">
                <table class="table table-hover" id="users">
                    <thead>
                    <tr>
                        <th>{% trans 'DB' %}</th>
                        <th>{% trans 'Beteckning' %}</th>
                        <th>{% trans 'Timmar' %}</th>
                        <th>{% trans 'Slut' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dl in deadlines %}
                        <tr>
                            <td>
                                {% if not dl.is_billable %}
                                    <span class="label label-danger">i</span>
                                {% endif %}
                            </td>
                            <td>
                                {{ dl.label }}
                            </td>
                            <td>
                                {{ dl.burndown|hhmm|hours }}{% trans 't' %}

                                {% if dl.hour_amount %}
                                    / {{ dl.hour_amount|times:60|hhmm|hours }}{% trans 't' %}
                                {% endif %}
                            </td>
                            <td>
                                {% if not dl.starts_at and not dl.ends_at %}
                                    -
                                {% else %}
                                    {% if dl.ends_at %} {{ dl.ends_at|date:'Y-m-d' }}{% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{% url 'this_week' %}">
                    {% trans 'Vecka' %} {{ week }} {{ year }}
                </a>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    {% if minutes != 0 %}
                        {{ minutes|hhmm|hours }}
                    {% else %}
                        {{ 'Inga' }}
                    {% endif %}
                    {% trans 'timmar' %}
                </li>
                <li class="list-group-item">
                    {% if projects != 0 %}
                        {{ projects }}
                    {% else %}
                        {% trans 'Inga' %}
                    {% endif %}
                    {% trans 'projekt' %}
                </li>
                <li class="list-group-item">
                    {% if absences != 0 %}
                        {{ absences|hhmm|hours }} {% trans 'timmar' %}
                    {% else %}
                        {% trans 'Ingen' %}
                    {% endif %}
                    {% trans 'frånvaro' %}
                </li>
                <li class="list-group-item">
                    {{ db }}% <abbr title="{% trans 'Debiteringsgrad' %}">{% trans 'DB' %}</abbr>
                </li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Personer aktiva' %} {{ today|date:'M Y' }}</div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{% trans 'Namn' %}</th>
                            <th>{% trans 'T' %}</th>
                            <th>{% trans 'PR' %}</th>
                            <th>{% trans 'FV' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in people %}
                        <tr>
                            <td><a href="{% url 'profile' user_id=p.userdata.pk %}">{{ p.username }}</td>
                            <td data-sortable="{{ p.progresses }}">{{ p.progresses|hhmm|hours }}</td>
                            <td data-sortable="{{ p.projects }}">{{ p.projects }}</td>
                            <td data-sortable="{{ p.absences }}">{{ p.absences|hhmm|hours }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
