{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load tajm %}

{% block sitetitle %}{% trans 'Deadlines' %}{% endblock %}

{% block customscripts %}
    <script>
        "use strict";
        tajmme.fire("userfilter:init");
    </script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="col-md-8">{{ deadlines.count }} {% trans 'Deadlines' %}</h1>

            <div class="card col-md-4"><br>
                <input id="id_filter" type="text" placeholder="{% trans 'Filtrera ...' %}" class="form-control">
            </div>
        </div>

        <hr>

        <div class="table-responsive">
            <table class="table table-hover" id="users">
                <thead>
                <tr>
                    <th>{% trans 'DB' %}</th>
                    <th>{% trans 'Beteckning' %}</th>
                    <th>{% trans 'Timmar' %}</th>
                    <th>{% trans 'Start - slut' %}</th>
                    <th>{% trans 'Projekt' %}</th>
                    <th>{% trans 'Personer' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for dl in deadlines %}
                    <tr>
                        <td>
                            {% if dl.is_billable %}
                                <span class="label label-success">db</span>
                            {% else %}
                                <span class="label label-danger">it</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ dl.label }}
                        </td>
                        <td>
                            {{ dl.burndown|hhmm|hours }}{% trans 't' %}

                            {% if dl.hour_amount %}
                                 / {{ dl.hour_amount|times:60|hhmm|hours }}{% trans 't' %}
                            {% endif %}
                        </td>
                        <td>
                            {% if not dl.starts_at and not dl.ends_at %}
                                -
                            {% else %}
                                {% if dl.starts_at %} {{ dl.starts_at|date:'Y-m-d' }} - {% endif %}
                                {% if dl.ends_at %} {{ dl.ends_at|date:'Y-m-d' }}{% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% for p in dl.projects.all %}
                                <a href="{% url 'project' id=p.pk %}">{{ p.name }}</a>
                                {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for usi in dl.user_set %}
                                <a href="{% url 'profile' user_id=usi.1.pk %}">{{ usi.1.username }}</a> — {{ usi.0|hhmm|hours }}{% trans 't' %}
                                {% if not forloop.last %}<br>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
