{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load reporter_extras %}

{% block sitetitle %}{{ date|date:"l"|capfirst }} {% trans "vecka" %} {{ week }}
    {% if is_index == True %}{% if is_today == True %}({% trans "idag" %}){% else %}({% trans "nuv vecka" %}){% endif %}
    {% endif %}{% endblock %}

{% block customscripts %}
    <script src="{% static 'vendor/awesomplete.min.js' %}"></script>
    <script>
        "use strict";
        tajmme.fire("vendor:awesomplete:init");
        tajmme.fire("toggabletitles:init");
        tajmme.fire("progressform:init");
    </script>
{% endblock %}

{% block content %}


    <div class="wrap wrap-top line line-bot line-rev">
        <div class="line weeknav">
            <a class="tar" title="{% trans 'Vecka' %} {{ prev_week.1 }}"
               href="{% url "anyday" year=prev_week.0 week_label=prev_week.1 day=5 %}">← {{ prev_week.1 }}</a>

            <h1 class="h2" title="{{ year|pretty_period:week }}" data-tt>{% trans 'Vecka' %} {{ week }}</h1>

            <a class="tal" title="{% trans 'Vecka' %} {{ next_week.1 }}"
               href="{% url "anyday" year=next_week.0 week_label=next_week.1 day=1 %}">{{ next_week.1 }} →</a>
        </div>


        <ul class="line daynav bot tac">
            {% for num, date in weekdays %}
                {% if num == day or day == 0 and num == 7 %}
                    <li><strong
                            class="daynav-item daynav-current{% if forloop.first %} daynav-first{% endif %}{% if forloop.last %} daynav-last{% endif %}">{{ date|date:"D"|title }}
                        <em>{{ date|date:"j" }}</em></strong></li>
                {% else %}
                    <li><a href="{% url "anyday" year=year week_label=week day=num %}"
                           class="daynav-item{% if forloop.first %} daynav-first{% endif %}{% if forloop.last %} daynav-last{% endif %}">{{ date|date:"D"|title }}
                        <em>{{ date|date:"j" }}</em></a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>



    <div class="wrap wrap-card">
        <form action="{{ request.path }}" method="post" class="line line-bot line-progress card">
            {% csrf_token %}
            {{ progress_form.non_field_errors }}
            {{ progress_form.done_at.as_hidden }}


            {% include "_progressform.html" %}


            <input type="submit" value="{% trans "Rapportera" %}" class="btn">
        </form>

        {% if project_count == 0 and not absences %}
            <h2 class="h2">{% trans "Ingen tid rapporterad idag, njut av ledigheten!" %}<br>
                <small>{% trans "eller se till att rapportera snart." %}</small>
            </h2>
        {% else %}
            {% if project_count == 0 %}
                <h2 class="h2">{% trans "Ingen tid inrapporterad" %}
                    {% if absences %}
                        <small>{% trans "men" %} {{ absence_count|pretty_minutes }} {% trans "frånvaro" %}</small>
                    {% endif %}
                </h2>
            {% else %}
                <h2 class="h2">{{ minute_count|pretty_minutes }} {% trans "i" %} {{ project_count }} {% trans "projekt" %}
                    {% if absences %}
                        <small>{% trans "med" %} {{ absence_count|pretty_minutes }} {% trans "frånvaro" %}</small>
                    {% endif %}
                </h2>
            {% endif %}

            <table>
                <thead>
                <tr>
                    <th class="col-duration">{% trans "Tid" %}</th>
                    <th class="col-25">{% trans "Projekt" %}</th>
                    <th>{% trans "Anteckning" %}</th>
                    <th class="col-delete"></th>
                </tr>
                </thead>
                {% for progress in progresses %}
                    <tr>
                        <td class="col-duration">+{{ progress.duration|hhmm }}</td>
                        <td>{{ progress.project.name }}</td>
                        <td>
                            <a href="{% url "edit_progress" year=year week_label=week day=day progress_id=progress.id %}">{{ progress.note }}</a>
                        </td>
                        <td class="tar">
                            <a class="btn"
                               href="{% url "delete_progress" year=year week_label=week day=day progress_id=progress.id %}">x</a>
                        </td>
                    </tr>
                {% endfor %}
                {% for absence in absences %}
                    <tr>
                        <td class="col-duration">-{{ absence.duration|hhmm }}</td>
                        <td>{{ absence.category.name }}</td>
                        <td>{{ absence.note }}</td>
                        <td class="tar"><a class="btn" href="{% url "delete_absence" absence_id=absence.id %}">x</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>


    <div class="wrap wrap-card">
        <h2 class="wrap wrap-card-hd line">
            <span>{% trans 'Veckan har' %} {{ ww_minute_count|pretty_minutes }} {% trans 'inrapporterad tid' %}</span>
            <a class="btn" href="{% url 'week_summary' year=year week_label=week %}">{% trans 'Mer statistik' %}</a>
        </h2>
        <div class="line line-justified grid">
            <dl>
                <dt>{% trans 'Projekt' %}</dt>
                <dd>{{ ww_project_count }}</dd>
            </dl>
            <dl>
                <dt>{% trans 'Debiteringsgrad' %}</dt>
                <dd>{{ ww_billable }}%</dd>
            </dl>
            <dl>
                <dt>{% trans 'Rader' %}</dt>
                <dd>{{ ww_progresses_count }}</dd>
            </dl>
            <dl>
                <dt>{% trans 'Interntid' %}</dt>
                <dd>{{ ww_nonbillable_count|pretty_minutes }}</dd>
            </dl>
            <dl>
                <dt>{% trans 'Frånvaro' %}</dt>
                <dd>{{ ww_absence_count|pretty_minutes }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
