{% load staticfiles %}
{% load account %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block sitetitle %}{% endblock %}</title>
    <meta name="apple-mobile-web-app-title" content="Tajm.me">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="authors" href="/humans.txt">
    <link rel="stylesheet" href="{% static "frontend/design.min.css" %}">
</head>
<body class="relpos">
<div class="relpos smooth is-folded" id="area">
    <div class="page">
        <div class="wrap-nav">
            <div class="wrap">
                <div class="line">
                    <a href="#nav" id="toggler" class="pull-left posrel wrap-toggle oh">
                        <div title="Visa menyn" class="mainnav-toggle pull-left">{% trans "Till menyn" %}</div>
                        {% if True == False %}
                        <sup>4</sup>
                        {% endif %}
                    </a>

                    <nav id="nav" class="nav mainnav">
                        <ul class="mainav-section">
                            {% if user.is_authenticated %}
                                <li><a class="bl mainnav-item" href="{% url "home" %}">{% trans "Rapportera tid" %}</a></li>
                                <li><a class="bl mainnav-item" href="{% url "account_logout" %}">{% trans "Logga ut" %}</a></li>
                            {% else %}
                                <li><a class="bl mainnav-item" href="{% url "account_login" %}">{% trans "Logga in" %}</a></li>
                            {% endif %}
                        </ul>
                    </nav>

                    <div class="pull-right bl">
                        {% if user.is_authenticated %}
                            {% trans "Idag" %}: <a title="Rapportera tid för idag" href="{% url "home" %}">{%  now "D j M" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
            {% block content %}{% endblock %}
        <div class="wrap">
            <div class="line foot small">
                <ul class="line bl">
                    <li class="unit"><a class="a footnav-item" href="http://help.tajm.me">{% trans "Hjälp &amp; support" %}</a></li>
                    <li class="unit"><a class="a footnav-item" href="http://help.tajm.me/legal/terms-of-service/">{% trans "Avtal" %}</a></li>
                    <li class="unit"><a class="a footnav-item" href="http://help.tajm.me/legal/privacy/">{% trans "Sekretess" %}</a></li>
                    <li class="unit"><a class="a footnav-item" href="http://developer.tajm.me/">{% trans "API" %}</a></li>
                </ul>

                <footer role="contentinfo">
                    <p>{%trans "Tajm.me, tidrapportering som inte suger." %} <a class="a" href="http://help.tajm.me/beta/">{% trans "Betaversion" %}</a>!<br>{% trans "Av" %} <a class="a" href="http://www.madr.se">Anders Ytterström</a> 2012-{% now "Y" %}. </p>
                </footer>
            </div>
        </div>
    </div>
</div>


<script src="{% static "frontend/app.min.js" %}"></script>
<script>tajmme.fire("init");</script>
{% block customscripts %}{% endblock %}
</body>
</html>