{% load account %}
{% load i18n %}
{% load staticfiles %}
{% load reporter_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block sitetitle %}{% endblock %}</title>
    <meta name="apple-mobile-web-app-title" content="Tajm">
    <meta name="viewport" content="width=device-width">
    <link rel="authors" href="/humans.txt">
    <link rel="stylesheet" href="{% static "design.css" %}">
</head>
<body>
{% if user.is_authenticated %}
    <div class="wrap wrap-nav">
        <div class="line">
            <ul class="line nav tal">
                <li>
                    <a href="{% url 'dashboard' %}">{% trans 'Rapporter' %}</a>
                </li>
                <li>
                    <a href="#">Projekt</a>
                </li>
                <li>
                    <a href="{% url 'list_users' %}">Personer</a>
                </li>
            </ul>
            <div class="tar">
            <a class="tac a" href="{% url 'my_profile' %}"><img src="https://secure.gravatar.com/avatar/{{ user.email|gravatar }}.jpg?r=g&s=64&d=mm" alt="{{ user }}" class="gravatar"></a>
            <a href="{% url 'today' %}" class="btn">{% trans 'Rapportera tid' %}</a>
            </div>
        </div>
    </div>
{% endif %}
{% block content %}{% endblock %}
<footer>
    <div class="line wrap">
        <p>Drivs av <a class="a" href="http://tidrapporteringsuger.se">Tajm</a>.</p>
        <ul class="line nav">
            {%  if request.user.is_staff %}
                <li><a class="a" href="/admin">Admin</a></li>
            {% endif %}
            <li><a class="a" href="http://help.tajm.me">Dokumentation</a></li>
            <li><a class="a" href="http://developer.tajm.me">API</a></li>
            <li><a class="a" href="https://tajmme.tumblr.com">Blogg</a></li>
        </ul>
    </div>
</footer>
<script src="{% static "app.min.js" %}"></script>
<script>tajmme.fire("init");</script>
{% block customscripts %}{% endblock %}
</body>
</html>