{% load account %}
{% load i18n %}
{% load staticfiles %}
{% load reporter_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block sitetitle %}{% endblock %}</title>
    <meta name="apple-mobile-web-app-title" content="Tajm">
    <meta name="viewport" content="width=device-width">
    <link rel="authors" href="/humans.txt">
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% trans 'Adeprimo' %}</a>
        </div>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'list_projects' %}">{% trans 'Projekt' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'list_users' %}">{% trans 'Personer' %}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="{% url 'my_profile' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="{% url 'today' %}">{% trans 'Rapportera tid' %} <span
                                class="sr-only">({% trans 'current' %})</span></a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
{% block content %}{% endblock %}
<hr>
<footer class="container">
    <div class="row">
        <p class="lead col-sm-4">Drivs av <a href="http://tidrapporteringsuger.se">Tajm</a>.</p>

        <div class="col-sm-8">
            <ul class="pull-right nav nav-pills">
                {% if request.user.is_staff %}
                    <li role="presentation"><a href="/admin">Admin</a></li>
                {% endif %}
                <li role="presentation"><a href="http://help.tajm.me">Dokumentation</a></li>
                <li role="presentation"><a href="http://developer.tajm.me">API</a></li>
                <li role="presentation"><a href="https://tajmme.tumblr.com">Blogg</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="{% static "app.min.js" %}"></script>
<script>tajmme.fire("init");</script>
{% block customscripts %}{% endblock %}
</body>
</html>