{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load reporter_extras %}
{% block sitetitle %}{{ date|date:"l"|capfirst }} {% trans "vecka" %} {{ week }}
    {% if is_index == True %}{% if is_today == True %}({% trans "idag" %}){% else %}({% trans "nuv vecka" %}){% endif %}
    {% endif %}{% endblock %}

{% block customscripts %}
    <script>
        "use strict";
        tajmme.fire("toggabletitles:init");
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-2">
            <a class="tar" title="{% trans 'Vecka' %} {{ prev_week.1 }}"
               href="{% url "week_summary" year=prev_week.0 week_label=prev_week.1 %}"><br>← {{ prev_week.1 }}</a>
        </div>
        <h1 class="col-sm-8 text-center" title="{{ year|pretty_period:week }}"
            data-tt>{% trans 'Vecka' %} {{ week }}</h1>
        <div class="col-sm-2 text-right">
            <a class="tal" title="{% trans 'Vecka' %} {{ next_week.1 }}"
               href="{% url "week_summary" year=next_week.0 week_label=next_week.1 %}"><br>{{ next_week.1 }} →</a>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="col-md-6">
            <h2 class="wrap-card-hd">{% trans 'Tid, fördelat över projekt' %}</h2>
            {% include '_projects_toplist.html' with projects=ww_project_toplist max_sum=ww_max_project_toplist_sum max_count=ww_max_project_toplist_count only %}
        </div>
        <div class="col-md-6">
            <div class="wrap wrap-card">
                <h2 class="wrap-card-hd">{% trans 'Frånvaro' %}</h2>
                {% if ww_absence_toplist %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th class="col-50">{% trans 'Orsak' %}</th>
                                <th class="col-25">{% trans 'Tid' %}</th>
                                <th class="col-25">{% trans 'Rader' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in ww_absence_toplist %}
                                <tr>
                                    <td>{{ p.name }}</td>
                                    <td>
                                        {{ p.sum|hhmm }}<br>
                                        {% include 'charts/bar.html' with bar_max=ww_max_absence_toplist_sum bar_value=p.sum color='absence' only %}
                                    </td>
                                    <td>
                                        {{ p.count }}<br>
                                        {% include 'charts/bar.html' with bar_max=ww_max_absence_toplist_count bar_value=p.count color='absence' only %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="nothing">
                        <p>{% trans 'Ingen frånvaro :)' %}</p>
                    </div>
                {% endif %}
            </div>
            <div class="wrap wrap-card">
                <h2 class="wrap wrap-card-hd">{% trans 'Tid dag för dag' %}
                    <small>{% trans 'debiterbart, internt och frånvaro' %}</small>
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{% trans 'Dag' %}</th>
                            <th>{% trans 'Tid' %}</th>
                            <th>{% trans 'Frånvaro' %}</th>
                            <th>{% trans 'Rader' %}</th>
                            <th>{% trans 'Projekt' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in ww_summary %}
                            <tr>
                                <td>{{ s.day|date:'D'|capfirst }}</td>
                                <td>
                                    {% if s.sum == 0 %}-{% else %}
                                        {{ s.sum|hhmm }}<br>
                                        {% if ww_max_summary_sum %}
                                            {% include 'charts/bar.html' with bar_max=ww_max_summary_sum bar_value=s.sum color='progress' only %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if s.absences == 0 %}-{% else %}{{ s.absences|hhmm }}{% endif %}
                                </td>
                                <td>
                                    {% if s.progresses == 0 %}-{% else %}
                                        {{ s.progresses }}<br>
                                        {% if ww_max_summary_progresses %}
                                            {% include 'charts/bar.html' with bar_max=ww_max_summary_progresses bar_value=s.progresses color='progress' only %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if s.projects == 0 %}-{% else %}
                                        {{ s.projects }}<br>
                                        {% if ww_max_summary_projects %}
                                            {% include 'charts/bar.html' with bar_max=ww_max_summary_projects bar_value=s.projects color='progress' only %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="wrap wrap-card-hd line">
            {% trans 'Veckan har' %} {{ ww_minute_count|pretty_minutes }} {% trans 'inrapporterad tid' %}
        </h2>

        <div class="row">
            <dl class="col-sm-2">
                <dt>{% trans 'Projekt' %}</dt>
                <dd>{{ ww_project_count }}</dd>
            </dl>
            <dl class="col-sm-2">
                <dt>{% trans 'Debiteringsgrad' %}</dt>
                <dd>{{ ww_billable }}%</dd>
            </dl>
            <dl class="col-sm-2">
                <dt>{% trans 'Rader' %}</dt>
                <dd>{{ ww_progresses_count }}</dd>
            </dl>
            <dl class="col-sm-2">
                <dt>{% trans 'Interntid' %}</dt>
                <dd>{{ ww_nonbillable_count|pretty_minutes }}</dd>
            </dl>
            <dl class="col-sm-2">
                <dt>{% trans 'Frånvaro' %}</dt>
                <dd>{{ ww_absence_count|pretty_minutes }}</dd>
            </dl>
        </div>

        <div class="wrap wrap-card">
            <h2 class="wrap-card-hd">{% trans 'Tid, fördelat över projekt' %}</h2>
            {% include '_progresses.html' with progresses=progresses only %}
        </div>
    </div>
{% endblock %}
